body {
  background-color: #002343;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

a {
    color: #50bcc9;
    font-weight: bold;
}

p {
    margin-bottom: 3em;
}

.container {
  width: 100%;
  height: 100vh;
}

.content {
  width: 80%;
  margin: 0 auto;
  padding-top: 5vh;
}

.content h1 {
    font-size: 3em;
    line-height: 1;
}

label {
  margin-right: 1em;
}

input {
  display: block;
  border-radius: .25em;
  border: none;
  margin-top: 1em;
  padding: .5em;
  width: 30vw;
}

input.submit {
    width: 10em;
    color: #fff;
    background-color: #002343;
    border: .125em solid #50bcc9;
    border-radius: .625em;
    font-weight: bold;
    margin-bottom: 1em;
    display: inline-block;
}

.show-all {
    color: #fff;
    background-color: #002343;
    border: .125em solid #50bcc9;
    border-radius: .625em;
    font-weight: bold;
    margin: 0 0 1em 1em;
    display: inline-block;
    text-decoration: none;
    padding: .4em;
}

.bars-container {
    position: relative;
    margin-bottom: 2em;
}

.bar {
    display: none;
}

.bar h3 {
    font-size: 2em;
}

.bar p {
    margin-bottom: 1em;
}

.bar ul li {
    margin-bottom: 1.5em;
}

.bar ul li a {
    word-wrap: break-word;
}

.bar-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.bar-image {
    width: 50%;
}

.bar-image img {
    width: 100%;
}

.bar-text {
    padding-left: 1em;
    width: 50%;
}

@media only screen and (max-width: 1024px) {

    .content h1 {
        font-size: 2em;
    }

    .content {
        padding-top: 1.5vh;
        width: 90%;
    }

    input {
        width: 80vw;
    }

    .show-all, .submit{
        width: 50vw;
        font-size: .75em;
        margin-top: 2em;
    }

    .bar-content {
        flex-direction: column;
    }

    .bar-image,
    .bar-text {
        width: 100%;
    }

    .bar-image {
        margin-bottom: 1em;
    }

    .bar-text {
        padding-left: 0;
    }

    .powered {
        margin-bottom: 2em;
    }


}